
body {
  background-color: #264653;
}

.App-container {
  background-color: #3B5864;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 1px #E9C46A solid;
  padding: 1em;
  border-radius: 18px;
}

h2 {
  text-transform: uppercase;
  color: #E9C46A;
}

.item {
  border: 1px #E9C46A solid;
  margin-bottom: 1em;
  padding: 1em;
  background-color: #1EC7C1;
  border-radius: 2px 16px 2px 16px;
}

.item.completed {
  display: flex;
  flex-direction: column;
  background-color: #264653;
  border: 1px#264653 solid;
  border-radius: 50%;
  text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container .clear-btn {
   margin: 0.5em;
}

.form-container .add-btn {
  margin: 0.5em;
}

.item.completed .comleted-time {
  margin-top: -1.5em;
  color: red;
  font-size: 0.7em;
}

.over-due.completed {
  display: none;
}
